
#htaccess file for root index.php

Options -MultiViews
RewriteEngine On

RewriteBase /GroupProject/public/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ index.php?url=$1 [QSA]
RewriteRule ^([^/]+)/(Products)/(.+)$ index.php?url=$1&category=$3 [QSA]
RewriteRule ^([^/]+)/(ParticularProduct)/(.+)$ index.php?url=$1&productid=$3 [QSA]
